.catalog {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .catalog {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap; } }
  @media (min-width: 1200px) {
    .catalog {
      max-width: 1300px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

.catalog__headline {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .catalog__headline {
      margin-bottom: 55px;
      font-size: 60px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media (min-width: 1200px) {
    .catalog__headline {
      max-width: 1300px;
      padding-left: 40px;
      padding-right: 40px;
      margin-left: auto;
      margin-right: auto; } }

.catalog__headline::after {
  content: "";
  position: absolute;
  left: -20px;
  right: 0;
  bottom: 0;
  top: 190px;
  height: 1px;
  background: #ededed;
  width: calc(100% + 20px); }
  @media (min-width: 768px) {
    .catalog__headline::after {
      display: none; } }
