.commercial {
    position: relative;
    text-align: center;
    padding-top: 29px;
    margin-bottom: 22px; }
    @media (min-width: 768px) {
      .commercial {
        padding-top: 61px;
        padding-left: 91px;
        min-height: 806px;
        text-align: left; } }
    @media (min-width: 1200px) {
      .commercial {
        min-height: 499px;
        padding-top: 29px; } }

.commercial__headline {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff; }
  @media (min-width: 768px) {
    .commercial__headline {
    font-size: 60px;
    line-height: 60px;
    text-align: left; } }
  @media (min-width: 1200px) {
    .commercial__headline {
    font-size: 60px;
    line-height: 60px;
    text-align: left; } }

.commercial__text {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 29px; }
    @media (min-width: 768px) {
      .commercial__text {
        font-size: 20px;
        line-height: 20px;
        margin-top: 33px;
        margin-bottom: 48px; } }
    @media (min-width: 1200px) {
      .commercial__text {
        margin-bottom: 53px; } }

.commercial__product-image {
  display: block; }
