.living-example {
    background-color: #f2f2f2; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .living-example {
        border-top: 1px solid #d9d9d9;
        background: linear-gradient(to top, #f2f2f2 42.7%, #ffffff 30%);
      } }
    @media (min-width: 1200px) {
      .living-example {
        position: relative;
        background: #ffffff;
        z-index: 1;
      }
      .living-example::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 72%;
        width: 100%;
        background: linear-gradient(to right, #f2f2f2 66.9%, #eaeaea 33.1%);
      }
    }

.living-example__headline {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111111;
  font-family: "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .living-example__headline {
      font-size: 60px;} }
  @media (min-width: 1200px) {
    .living-example__headline {
      padding-top: 0;
      margin-bottom: 70px;
    }
  }

.living-example__paragraph {
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  font-family: "Arial", sans-serif; }
  @media (min-width: 768px) {
    .living-example__paragraph {
      margin-bottom: 47px;
      margin-top: 150px;
    }
  }

.living-example__row {
  display: flex;
  flex-wrap: wrap;
}

.living-example__column {
  flex: 0 0 100%;
  max-width: 100%;
  overflow: hidden; }
  @media (min-width: 768px) {
    .living-example__column {
      position: relative;
      z-index: 1; } }
  @media (min-width: 1200px) {
    .living-example__column {
      flex: 0 0 40%;
      max-width: 40%;
    }
    .img-column {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }

.living-example__table_wrapper {
  width: 100%; }
  @media (min-width: 768px) {
    .living-example__table_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; } }

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px; }
  @media (min-width: 768px) {
    .table-container {
      max-width: 365px;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media (min-width: 1200px) {
    .table-container {
      margin-bottom: 55px; } }

.table {
  max-width: 124px;
  width: 100%;
  padding: 15px 10px 5px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px; }
  @media (min-width: 769px) {
    .table {
      max-width: 162px;
      padding: 23px 10px 20px; } }

.living-example__result {
  max-width: 105px;
  padding: 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .living-example__result {
      max-width: inherit;
      margin-bottom: -25px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .living-example__result {
      background: #ffffff; } }

.living-example__table_num {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  font-weight: normal;
}

.living-example__table_text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  margin: 8px 0 0;
}

.living-example__expenses {
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  font-weight: normal;
  text-align: center;
  margin-bottom: 35px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .living-example__expenses {
    max-width: 192px;
    font-size: 20px;
    text-align: right; } }
  @media (min-width: 1200px) {
    .living-example__expenses {
      max-width: inherit;
      text-align: left; }
    .living-example__expenses span {
      display: inline-block;
      margin-right: 60px;
      } }
