
.product-description__headline {
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
    color: #111111;
    margin-bottom: 41px;
    margin-top: 0;
    font-family: "Oswald", sans-serif; }
    @media (min-width: 768px) {
      .product-description__headline {
      font-size: 60px;
      margin-bottom: 70px;
      margin-top: -30px;
      padding-top: 55px; } }
    @media (min-width: 1200px) {
      .product-description__headline {
        padding-top: 60px;
        margin-bottom: 70px;
        margin-left: -5px;
      }
    }

.product-description__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  counter-reset: section; }

.product-description__item {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  align-items: center;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .product-description__item {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 0;
      padding-left: 0;
      display: block;
      min-height: 230px;
      margin-bottom: 87px; }
    .product-description__item:nth-child(odd) {
      padding-right: 30px;
      }
    .product-description__item:nth-child(even) {
      padding-left: 10px; }
    }
  @media (min-width: 1200px) {
    .product-description__item {
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: 30px;
    }
    .product-description__item:nth-child(2) {
      padding-right: 40px;
      padding-left: 0; }
    .product-description__item:nth-child(3) {
      padding-left: 40px;
      padding-right: 40px; }
    .product-description__item:nth-child(4) {
      align-self: flex-end;
      padding-left: 40px; }
  }

.product-description__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #68b738; }
  @media (min-width: 768px) {
    .product-description__item::before {
      width: 80px;
      height: 80px;
      margin-bottom: 35px; }
    .product-description__item::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      left: 140px;
      top: -38px;
      font-size: 280px;
      line-height: 1;
      text-align: left;
      font-family: "Oswald", sans-serif;
      color: #f2f2f2;
      z-index: -1;
      } }
  @media (min-width: 1200px) {
    .product-description__item:nth-child(3)::after {
      left: 180px;
    }
    .product-description__item:nth-child(4)::after {
      left: 180px;
    }
  }

.product-description__paragraph {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444444; }
  @media (min-width: 768px) {
    max-width: 250px;
  }

.product-description__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.product-description__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.product-description__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.product-description__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}
