.program-types {
  display: flex;
  flex-wrap: wrap; }

.program-types__column {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 1200px) {
    .program-types__column {
      flex: 0 0 50%;
      max-width: 50%; } }

.program-types__item {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: #f2f2f2;
  padding: 40px 20px 20px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .program-types__item {
      padding: 81px 315px 62px 52px;
      margin-bottom: 30px; } }
  @media (min-width: 1200px) {
    .program-types__item {
      padding: 40px 55px 58px; } }

.program-types__headline {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  position: relative;
  margin-bottom: 36px;
  padding-left: 72px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .program-types__headline {
      font-size: 36px;
      padding-left: 0;
      margin-bottom: 25px ; } }
  @media (min-width: 1200px) {
    .program-types__headline {
      padding-left: 162px;
      margin-bottom: 70px;
    }
  }

.program-types__headline::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738; }
  @media (min-width: 768px) {
    .program-types__headline::before {
      left: 120%;
      top: 50%;
      width: 200px;
      height: 200px; } }
  @media (min-width: 1200px) {
    .program-types__headline::before {
      right: inherit;
      left: 0;
      top: -90%;
      width: 100px;
      height: 100px; } }

  @media (min-width: 1200px) {
    .weight-loss {
      margin-right: 40px
    }
  }

  @media (min-width: 1200px) {
    .weight-gain {
      margin-left: 40px;
    }
  }

.weight-loss::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 47px;
  top: 58px;
  left: 28px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }
  @media (min-width: 768px) {
    .weight-loss::after {
      top: 30%;
      left: 69%;
      width: 141px;
      height: 50%; } }
  @media (min-width: 1200px) {
    .weight-loss::after {
      width: 71px;
      height: 97px;
      top: 10%;
      left: 12%;
      right: inherit; } }

.weight-gain::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  top: 70px;
  left: 11px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }
  @media (min-width: 768px) {
    .weight-gain::after {
      width: 268px;
      height: 113px;
      top: 45%;
      left: 60%; } }
  @media (min-width: 1200px) {
    .weight-gain::after {
      width: 134px;
      height: 57px;
      top: 18%;
      left: 7%;
      right: inherit;
    }
  }

.program-types__paragraph {
  font-family: "Arial", sans-serif;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .program-types__paragraph {
      border: none; } }
  @media (min-width: 1200px) {
    .program-types__paragraph {
      padding-bottom: 15px;
      margin-bottom: 15px; } }

.program-types__link {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
}

.program-types__link::after {
  content: "";
  position: absolute;
  right: -38px;
  top: 25%;
  width: 25px;
  height: 12px;
  background: url("../img/icon-right-arrow-long.svg") no-repeat center;
}
