@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

header {
  display: block;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-style: normal; }
  @media (min-width: 768px) {
    body {
      font-size: 16px;
      line-height: 24px;
    }
  }

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

section {
  display: block;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1300px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

button {
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}
